// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image{
    width: 200px;
}
.level{
    font-size: larger;
}
.toukou:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    background-color: rgb(29, 213, 26);
}
.botan{
    background-color: aqua;
}